<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MG.</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="stars-bg" id="stars"></div>
    <header>
        <!--NAV BAR-->
        <nav>
            <div class="nav-logo">MG</div>
            <ul class="nav-links" id="navLinks">
                <li><a href="#home">INICIO</a></li>
                <li><a href="#about">PERFIL</a></li>
                <li><a href="#projects">POKEDEX</a></li>
                <li><a href="#skills">ESTRATEGIAS</a></li>
                <li><a href="#sskills">HABILIDADES</a></li>
                <li><a href="#contact">CONTACTO</a></li>
            </ul>
            <div class="nav-right">
                <a href="../../PORTFOLIO_MG/index.html" class="lang-btn">EN</a>
                <div class="hamburger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>


        </nav>
    </header>

    <!--MAIN-->
    <main>
        <!--HOME-->
        <section id="home">
            <div class="trainer-card">
                <div class="trainer-card-header">
                    <span class="trainer-id">ENTRENADORA #0019</span>
                    <span class="trainer-badge"> JUNIOR DEV</span>
                </div>

                <div class="trainer-main">
                    <div class="trainer-photo">
                        <div class="trainer-photo-placeholder" id="profilePhotoWrapper">
                            <div>
                                <img class="profileImg" src="../../PORTFOLIO_MG/media/perfilgit.jpg" alt="Maria Gomez" />
                            </div>
                        </div>
                    </div>

                    <div class="trainer-info">
                        <h1>MARIA ALEJANDRA<br>GOMEZ ARCHILA</h1>
                        <p class="trainer-title">Desarrolladora Junior</p>
                        <p class="trainer-motto"><span>&lt;</span>camina hacia adelante/<span>&gt;</span></p>
                        <div class="trainer-types">
                            <span class="type-badge type-fire">FRONTEND</span>
                            <span class="type-badge type-water">BACKEND</span>
                            <span class="type-badge type-electric">BASE DE DATOS</span>
                        </div>
                    </div>
                </div>

                <div class="trainer-stats">
                    <div class="trainer-stat">
                        <span class="trainer-stat-val">3+</span>
                        <span class="trainer-stat-label">PROYECTOS</span>
                    </div>
                    <div class="trainer-stat">
                        <span class="trainer-stat-val">8+</span>
                        <span class="trainer-stat-label">TECNOLOGIAS</span>
                    </div>
                    <div class="trainer-stat">
                        <span class="trainer-stat-val"></span>
                        <span class="trainer-stat-label">EXP INTERNACIONAL</span>
                    </div>
                </div>
            </div>
        </section>

        <!--ABOUT-->
        <section id="about">
            <div class="section">
                <div class="section-header reveal">
                    <p class="section-label">// CARTA #001</p>
                    <h2 class="section-title">PERFIL ENTRENADORA</h2>
                    <div class="section-divider"></div>
                </div>

                <div class="pokedex-entry reveal">
                    <div class="pokedex-sprite">
                        <div class="trainer-photo-placeholder">
                            <img class="trainerImg" src="../../PORTFOLIO_MG/media/pokeTrainer.png" alt="Maria Gomez" />
                        </div>
                        <div class="trainer-types">
                            <span class="type-badge type-fire">FUEGO</span>
                            <span class="type-badge type-psychic">PSYCHIC</span>
                        </div>
                    </div>

                    <div class="pokedex-text">
                        <h3>MARIA-DEV </h3>
                        <p>Desarrolladora Junior apasionada por crear proyectos web útiles y bien hechos. Experiencia
                            como freelance
                            llevando ideas desde el diseño hasta la implementación. Su experiencia internacional
                            fortaleció su inglés y
                            capacidad multicultural. Combina habilidades técnicas con liderazgo cercano y comunicación
                            efectiva. Siempre
                            lista para seguir aprendiendo.</p>
                        <div class="entry-stats">
                            <div class="entry-stat">
                                <span class="entry-stat-text"><strong>Idiomas:</strong> Español + Ingles</span>
                            </div>
                            <div class="entry-stat">
                                <span class="entry-stat-text"><strong>Clase:</strong> Desarrolladora</span>
                            </div>
                            <div class="entry-stat">
                                <span class="entry-stat-text"><strong>Región:</strong> Colombia</span>
                            </div>
                        </div>
                    </div>
                    <div class="pokedex-num">#001</div>
                </div>
            </div>
        </section>

        <!--PROJECTS-->
        <section id="projects">
            <div class="section">
                <div class="section-header reveal">
                    <p class="section-label">// POKEDEX</p>
                    <h2 class="section-title">POKEMONES DE LA ENTRENADORA</h2>
                    <div class="section-divider"></div>
                </div>

                <div class="pokemon-cards-grid" id="pokemonCardsGrid">
                    <div class="divCards">
                        <div class="loading-spinner"></div>
                        <p class="pCards">
                            CARGANDO POKEDEX...
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!--SKILLS-->
        <section id="skills">
            <div class="section">
                <div class="section-header reveal">
                    <p class="section-label">// TIPOS Y HABILIDADES</p>
                    <h2 class="section-title">CARTA DE TIPOS</h2>
                    <div class="section-divider"></div>
                </div>

                <div class="type-chart-grid" id="typeChartGrid">
                    <!-- Script.js -->
                </div>
            </div>
        </section>

        <!--SSKILLS-->
        <section id="sskills">
            <div class="section">
                <div class="section-header reveal">
                    <p class="section-label">// MOVIMIENTOS ESPECIALES</p>
                    <h2 class="section-title">HABILIDADES BLANDAS</h2>
                    <div class="section-divider"></div>
                </div>

                <div class="moves-grid">
                    <div class="move-card pink reveal">
                        <div class="move-pp">PP <span>20/20</span></div>
                        <h3 class="move-name">COMUNICACIÓN</h3>
                        <ul class="move-items">
                            <li class="move-item"><span class="move-dot"></span>Trabajo en equipo</li>
                            <li class="move-item"><span class="move-dot"></span>Empatía</li>
                            <li class="move-item"><span class="move-dot"></span>Comunicación efectiva</li>
                        </ul>
                    </div>

                    <div class="move-card blue reveal">
                        <div class="move-pp">PP <span>15/15</span></div>
                        <h3 class="move-name">ORGANIZACIÓN</h3>
                        <ul class="move-items">
                            <li class="move-item"><span class="move-dot"></span>Gestión de proyectos</li>
                            <li class="move-item"><span class="move-dot"></span>Responsabilidad</li>
                            <li class="move-item"><span class="move-dot"></span>Adaptabilidad</li>
                        </ul>
                    </div>

                    <div class="move-card green reveal">
                        <div class="move-pp">PP <span>∞/∞</span></div>
                        <h3 class="move-name">DESARROLLO PERSONAL</h3>
                        <ul class="move-items">
                            <li class="move-item"><span class="move-dot"></span>Mentalidad de crecimiento</li>
                            <li class="move-item"><span class="move-dot"></span>Resolución de problemas</li>
                            <li class="move-item"><span class="move-dot"></span>Proactividad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!--CONTACT-->
        <section id="contact">
            <div class="section">
                <div class="section-header reveal">
                    <p class="section-label">// BATALLA</p>
                    <h2 class="section-title">¿LISTO PARA COMBATIR?</h2>
                    <div class="section-divider"></div>
                </div>

                <div class="contact-card reveal">
                    <h3>¡HABLEMOS!</h3>
                    <p>Un nuevo ENTRENADOR quiere combatir.<br>Maria desea unirse a tu equipo.</p>
                    <div class="contact-buttons">
                        <a href="https://mail.google.com/mail/?view=cm&to=maga1731@gmail.com" target="_blank"
                            class="contact-btn email">EMAIL</a>
                        <a href="https://www.linkedin.com/in/maria-alejandra-gomez-archila-873340373/" target="_blank"
                            class="contact-btn linkedin">LINKEDIN</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--FOOTER-->
    <footer>
        <div class="footer-text">
            © 2026 MARIA GOMEZ · PORTFOLIO · MADE WITH 💻 + ☕ = 💡
        </div>
    </footer>
</body>
<script src="../views/script-es.js"></script>

</html>